<div class="alert-pop-icon" *ngIf="type == 'alert' || type == 'confirm'">i</div>
<h2 class="mat-h1" mat-dialog-title>{{title}}</h2>
<mat-dialog-content *ngIf="type == 'alert' || type == 'confirm'">{{content}}</mat-dialog-content>
<mat-dialog-actions>
  <ng-container *ngIf="type == 'confirm'">
    <button class="save-btn pulleft" (click)="close(true)">Yes</button>
    <button class="canc-btn pulright" (click)="close(false)">No</button>
  </ng-container>
  <ng-container *ngIf="type == 'alert'">
    <button class="save-btn pulleft matDialogClose" (click)="close()">OK</button>
  </ng-container>
</mat-dialog-actions>