.input-row {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: wrap;
    width: 45%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

.input {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 20px;
    width: 180px;
}

.label {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
    width: 20px;
}

.error {
    color: red;
}

body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background: #0067bc;
    color: #fff;
    font-size: 0.875rem;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: 2px;
}

button:disabled {
    background: #858484;
    cursor: no-drop;
}