<html>

<body>
    <form (submit)="addPlayer(playerForm)" #playerForm="ngForm">
        <div>
            <div class="input-row">
                <div class="label">Name: </div>
                <div class="input"><input type="text" autocomplete="off" name="name" #pName="ngModel" [(ngModel)]="player.name" required /></div>
                <div class="label">Age: </div>
                <div class="input"><input type="text" autocomplete="off" name="age" #pAge="ngModel" [(ngModel)]="player.age" required number-required />
                </div>
                <div><button type="submit" [disabled]="!playerForm.valid">{{btnVal}}</button></div>
                <div><input type="hidden" id="idx" name="idx" [(ngModel)]="player.idx" /></div>
            </div>
            <div class="input-row">
                <div class="label error" *ngIf="pName.touched && pName.errors?.required">Name is required !</div>
                <div class="label error" *ngIf="pAge.touched && pAge.errors?.required">Age is required !</div>
                <div class="label error" *ngIf="pAge.touched && pAge.errors?.nan">Age must be a number !</div>
            </div>
        </div>
    </form>
    <br clear="all" />
    <data-table [data]="players" [sortable]="true" [sortBy]="'age'" [sortByType]="'number'" (editRow)="editPlayer($event)" (deleteRow)="deletePlayer($event)">
        <table-column [head]="'Name'" [value]="'name'"></table-column>
        <table-column [head]="'Age'" [value]="'age'"></table-column>
    </data-table>
</body>

</html>