.alert {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: wrap;
    width: 45%;
    padding: 10px;
    color: #fff;
    border: 1px solid #000;
    background-color: #f52424;
}