.table-row {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: wrap;
    width: 55%;
    padding: 5px;
    border-bottom: 1px solid #000;
    border-collapse: collapse;
}

.text {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 120px;
}

.num {
    width: 80px;
}

body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #0067bc;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #fff;
}

.pointer {
    cursor: pointer !important;
    height: 16px;
    width: 16px;
}

.icon-e {
    background-image: url("/assets/icons/edit.png");
}

.icon-d {
    background-image: url("/assets/icons/trash.png");
}