<div>
    <ng-container *ngIf="data?.length > 0 then dataBlock else noDataBlock"></ng-container>
    <ng-template #dataBlock>
        <div class="table-row header">
            <div class="text">#</div>
            <ng-container *ngFor="let column of columns">
                <div class="text">{{column.head}}</div>
            </ng-container>
            <div class="text">Edit</div>
            <div class="text">Delete</div>
        </div>
        <ng-container *ngFor="let tableData of data | sort:sortable:sortBy:sortByType; let idx=index">
            <div class="table-row">
                <div class="text">{{idx+1}}</div>
                <ng-container *ngFor="let column of columns">
                    <div class="text">{{tableData[column.value]}}</div>
                </ng-container>
                <div class="text">
                    <div class="pointer icon-e" (click)="edit(idx)"></div>
                </div>
                <div class="text">
                    <div class="pointer icon-d" (click)="delete(idx)"></div>
                </div>
            </div>
        </ng-container>
    </ng-template>
    <ng-template #noDataBlock>
        <message-box [message]="'No data to display !'"></message-box>
    </ng-template>
</div>