@import "@angular/material/prebuilt-themes/indigo-pink.css";


.mat-dialog-container {
    background-color: #fff;
    color: #000;
    border-left: 4px solid #0067bc;
  }
  
  .mat-dialog-title {
    margin: 0 0 20px;
    display: block;
    font: 500 20px/32px Roboto, Helvetica Neue, sans-serif;
  }
  
  .mat-dialog-container .alert-pop-icon {
    float: left;
    padding: 4px 21px;
    background: #0067bc;
    border-radius: 40px;
    font-size: 34px;
    color: #fff;
    margin: 8px 22px 0 4px;
  }
  
  .mat-dialog-container .mat-dialog-actions {
    float: right;
  }
  
  .mat-dialog-container .save-btn {
    background: #fff;
    border: 0;
    color: #0067bc;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
  }
  
  .mat-dialog-container .canc-btn {
    border: none;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
  }

  .pulleft {
    float: left;
  }

  .pulright {
    float: right;
  }

  button {
    cursor: pointer;
  }

  